@if(basketItems$ | async; as basketItems){

<button
  id="create-order"
  mat-raised-button
  color="primary"
  [disabled]="!basketItems?.length"
  (click)="addOrder(basketItems)"
>
  <span class="buy__button">
    <mat-icon>
      shopping_basket
    </mat-icon>

    Utwórz zamówienie {{ sum$ | async |price }} zł

  </span>
</button>

@for (basketItem of basketItems; track $index) {
<ds-cart-item
  id="cart-product"
  [dsBasketItem]="basketItem"
  (dsDeleteItem)="deleteItem(basketItem?.product?.id)"
/>

}@empty {
<p id="no-products-in-cart">No Data</p>
}
}@else {
<div class="centered">
  <mat-spinner />
</div>
}
