:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
}

.buy__button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}