<mat-toolbar
  color="primary"
  class="header"
>
  <a
    class="title"
    id="home-link"
    routerLink="/"
  >My App - testowanie</a>

  <a
    class="title"
    id="admin-link"
    routerLink="/admin"
  >Admin</a>

  <a
    class="title"
    id="orders-link"
    routerLink="/admin/orders"
  >Zamówienia</a>

  <span class="example-spacer"></span>
  @if ({amount:basketItemsAmount$ | async}; as props) {
  <a
    class="cart__button"
    routerLink="/cart"
  >

    @if (props.amount) {
    <div class="cart__items__count">
      {{ props.amount }}
    </div>
    }

    <mat-icon
      class="icon"
      id="cart-icon"
    >shopping_cart</mat-icon>
  </a>
  }
</mat-toolbar>

<router-outlet />