<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="header__product__admin__item">{{ dsProduct?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="product__admin__price">
      {{ dsProduct.price | price }} zł
    </div>
    <div class="product__admin__amount">
      Ilość: {{ dsProduct.stockQuantity }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <span class="actions">
      <a
        class="product__admin__item__edit"
        mat-stroked-button
        [routerLink]="'/admin/editProduct/' + dsProduct?.id"
      >
        <mat-icon>
          edit
        </mat-icon>
        Edytuj
      </a>

      <button
        class="delete-admin-item-button"
        mat-stroked-button
        (click)="dsDelete.emit()"
      >
        <mat-icon>
          delete
        </mat-icon>
        Usuń
      </button>
    </span>
  </mat-card-actions>
</mat-card>