<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ basketItem?.product?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions align="end">

    <div class="price">
      {{ basketItem?.product.price | price }} zł
    </div>

    <span class="multiplication">
      X
    </span>

    <span class="actions">
      <input
        min="1"
        [max]="basketItem?.product?.stockQuantity"
        type="number"
        class="amount__input"
        [formControl]="amountInput"
      />
    </span>

    =
    {{ (amountInput?.value*basketItem?.product.price) | price }} zł
  </mat-card-actions>
</mat-card>