<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title class="cart__item__header">{{ dsBasketItem?.product?.name }}</mat-card-title>
    <button
      id="delete-from-cart"
      mat-icon-button
      (click)="dsDeleteItem.emit(null)"
    >
      <mat-icon>
        close
      </mat-icon>
    </button>
  </mat-card-header>
  <mat-card-actions align="end">

    <div class="cart__item__price">
      {{ dsBasketItem?.product.price | price }} zł
    </div>

    <span class="multiplication">
      X
    </span>

    <span class="price quantity">
      {{ dsBasketItem.quantity }}
    </span>

    =
    {{ (dsBasketItem?.quantity*dsBasketItem?.product.price) | price }} zł
  </mat-card-actions>
</mat-card>