<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="form"
>
  <mat-form-field appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input
      matInput
      id="name-input"
      formControlName="name"
    />
    <mat-error id="wrong-name">
      {{ getErrorMessage('name') }}
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Liczba na magazynie</mat-label>
    <input
      matInput
      id="stockQuantity-input"
      min="1"
      max="1000"
      formControlName="stockQuantity"
      type="number"
    />
    <mat-error>
      {{ getErrorMessage('stockQuantity') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cena</mat-label>
    <input
      matInput
      id="price-input"
      formControlName="price"
      type="number"
    />
    <mat-error>
      {{ getErrorMessage('price') }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    id="form-submit-button"
    [disabled]="form.invalid || (isSameAsInitial$ | async) || isSubmitting"
  >
    <!-- <mat-spinner
      *ngIf="isSubmitting"
      class="spinner"
    /> -->
    Zatwierdź
  </button>
</form>
